@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Inconsolata&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    color: #000000;
}
body > .container .row {
    padding-top: 4em;
}
#pkgdown-sidebar {

}

h1 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 17pt;
    line-height: 1.5em;
    margin-bottom: 1em;
}
h1 > a > code {
    font-size: 17pt;
    line-height: 1.5em;
    margin-bottom: 1em;
}
.page-header {
    border-bottom: revert;
}

h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 16pt;
}
h3, #pkgdown-sidebar h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-style: italic;
    font-size: 14pt;
}
body {
    font-family: 'EB Garamond', serif;
}
p {
    font-size: 14pt;
}

code, pre {
    font-family: "Inconsolata", monospace;
    font-size: 11pt;
    background: #fafafa;
}
pre {
    border: 0px;
    border-radius: 0px;
}
.btn-primary,
.btn-primary:focus,
.btn-primary:hover {
    color: #000000;
    background-color: #f0f0f0;
    border-radius: 0px;
    border-width: 0px;
}

.navbar-default .navbar-toggle {
    color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #f0f0f0;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

table {
    border-spacing: 5px;
}
.ref-arguments th, .ref-arguments td {
    vertical-align: text-bottom;
}
.ref-arguments td {
    padding-left: 20px;
}
table td:nth-child(2) {
    padding-left: 20px;
}

a:link {
    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.2em;
    text-decoration-color: #404040;
}
p > a,
p > a:hover,
#pkgdown-sidebar a,
code > a {
    color: #000000;
    text-decoration: underline;
}

.navbar {
    border: none;
    color: #000000;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    letter-spacing: 0.1em;
}
.navbar-default .navbar-link, .navbar-default .navbar-nav>li>a,
.navbar-default .navbar-link:hover {
    color: #000000;
    text-transform: uppercase;
    font-size: 10pt;
}

.navbar-brand {
    padding-top: 15px;
}
.label {
    font-weight: normal;
    padding-left: 0em;
    padding-right: 0em;
    padding: .1em .3em .2em .4em;
    background: #f0f0f0;
    color: #101010;
    margin-left: 5px;
    border-radius: 0px;
}

.fa-lg {
    font-size: 1.1em;
    line-height: .75em;
    vertical-align: 0em;
}
.nav>li>a {
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 0px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #000000;
    background-color: #ffffff;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}

footer {
    border-top: revert;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;   
}
footer p {
    font-size: 8pt;
}